@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
*{
  font-family: "Roboto", sans-serif;
}
html, body, #root, .App{
  height: 100%;
  width: 100%;
  background: #F5F5F5;
}
.cc{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.ccfs{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.cr{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.crsb{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.fh{
  height:  100%;
}
.fw{
  width: 100%;
}
.fwh{
  width: 100%;
  height: 100%;
}
.belt{
  width: 50%;
}
.paper-toolbar h1{
  line-height: 90%;

}
.subtitle{
  font-size: 0.5em;
  color: #333;
}
.parameter{
  min-height: 40px;
}

.bead.active{
  box-shadow: 0px 0px 10px 0 #00A8E1;
}
.bead.active .hole{
  box-shadow: inset 0px 0px 10px 0 #00A8E1;
}
.bead{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 30px;
  height: 30px; 
  margin: 5px;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.1);
}
.bead .hole{
  border-radius: 100px;
  width: 14px;
  height: 14px; 
  background: white;
  border: 1px solid black;
  box-shadow: inset 0px 0px 5px 0 rgba(0,0,0,0.1);
  
}
.submenu-label{
  user-select : none;
  cursor: pointer;
}


.submenu-content.visible {
  display: block;
}

.submenu-content.hidden {
  display: none;
}
.react-draggable{
  z-index: 10000;
} 
.submenu{
  width: 300px;
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.1);
  margin-bottom: 1em;
}
.submenu-label{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
  
}
.submenu .handle{
  background: #FFFFFF;
  cursor: pointer;
  padding: 0.7em 1em;
  color: 1A1A1A;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.submenu .handle .ui.basic.button{
  border: none !important;
}
.submenu-content {
  display: none;
  padding: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  
}
.controls{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; 
  width: 20%;
}

