# Ignore specific files
go-ipfs_v0.7.0_linux-amd64.tar.gz
go-ipfs/go-ipfs_v0.7.0_darwin-amd64.tar.gz

# Ignore a directory and its contents
front-end/well-logged/node_modules/
front-end/well-logged/node_modules/.cache/

# Ignore specific file types
*.pack
*.tar.gz